<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}"><title>Index page</title></head>
<body>
<div class="header_section" th:replace="~{fragments/navbar::navbar(activeLink=${'/'})}"></div>
<!-- banner section start -->
<div class="banner_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner_title">
                    <h5 class="text-center text-white mt-5">
                        <th:block th:text="#{welcome}"></th:block>
                        <th:block th:text="${welcomeMessage}"></th:block>
                    </h5>
                </div>
                <div class="banner_title">
                    <span th:text="#{banner_title_first}">Enjoy</span>
                    <br>
                    <span th:text="#{banner_title_second}">The movies And TV shows</span>
                </div>
                <p class="banner_text"
                   th:text="#{banner_text_third}"
                   sec:authorize="!isAuthenticated()">Create account and have fun!</p>
                <div class="see_bt"><a href="/users/register"
                                       th:text="#{banner_register_btn}"
                                       sec:authorize="!isAuthenticated()">Register</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="play_icon"><a th:href="*{'https://www.youtube.com/embed/dN3ltKrp2t8'}"><img
                        src="/images/play-icon.png" alt="Play icon"></a></div>
            </div>
        </div>
    </div>
</div>
<!-- banner section end -->
<!-- arrival section start -->
<div class="arrival_section layout_padding">
    <div class="container">
        <form th:each="news : ${newRelease}"
              th:object="${news}">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="image_1" th:style="'background-image: url(' + ${news.firstImageUrl()} + ');'">
                        <h2 class="jesusroch_text">N E W R E L E A S E</h2>
                        <p class="movie_text">Hollywood Movie</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="image_2" th:style="'background-image: url(' + ${news.secondImageUrl()} + ');'">
                        <h2 class="jesusroch_text">N E W R E L E A S E</h2>
                        <p class="movie_text">Hollywood Movie</p>
                    </div>
                </div>
                <div class="col-sm-8 col-lg-4">
                    <h1 class="arrival_text" th:text="#{release_btn}">R e l e a s e</h1>
                    <div class="movie_main">
                        <div class="mins_text_1">150 mins</div>
                        <div class="mins_text">Actions Movie</div>
                        <div class="mins_text"><img src="images/icon-1.png"><span class="icon_1">Watchlist</span></div>
                    </div>
                    <p class="long_text" th:text="${#strings.abbreviate(news.description(), 150)}">Text</p>
                    <div class="rating_main">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="icon_2"><img src="images/icon-2.png">
                                    <span class="padding_10">4.6 Reviewed</span></div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="icon_2"><img src="images/icon-2.png">
                                    <span class="padding_10">Your Rating</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="play_bt"><a
                            th:href="|https://www.youtube.com/embed/*{trailerUrl()}|"
                            th:text="#{trailer_play_btn}">See Trailer</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- arrival section end -->
<!-- movies section start -->
<div class="movies_section layout_padding">
    <div class="container">
        <div class="movies_menu" th:replace="~{fragments/overview}"></div>
        <div class="movies_section_2 layout_padding">
            <h2 class="latest_text" th:text="#{nav_bar_all_productions}">Productions</h2>
            <div class="seemore_bt"><a href="/productions/tv" th:text="#{movie_box_see_more_btn}">See More</a></div>
            <div class="movies_main">
                <div class="image_movies_main">
                    <form th:each="production : ${allProductions}"
                          th:object="${production}">
                        <div class="image_movies">
                            <div class="image_3">
                                <img th:src="*{imageUrl}" class="image" style="width:100%" alt="Production image">
                                <div class="middle">
                                    <div class="playnow_bt">
                                        <a th:href="|https://www.youtube.com/embed/*{videoUrl}|"
                                           th:text="#{trailer_play_btn}">Trailer</a>
                                    </div>
                                </div>
                            </div>
                            <h1 class="code_text" th:text="*{name}">Production Name</h1>
                            <p class="there_text" th:text="*{genre}">Information</p>
                            <div class="star_icon">
                                <ul>
                                    <li><a href="#"><img src="images/star-icon.png"></a></li>
                                    <li><a href="#"><img src="images/star-icon.png"></a></li>
                                    <li><a href="#"><img src="images/star-icon.png"></a></li>
                                    <li><a href="#"><img src="images/star-icon.png"></a></li>
                                    <li><a href="#"><img src="images/star-icon.png"></a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="movies_section_2 layout_padding"></div>
    </div>
</div>
<!-- movies section end -->
<!-- coming  section start -->
<div class="coming_section layout_padding">
    <div class="container">
        <form th:each="news : ${comingSoon}"
              th:object="${news}">
            <div class="row">
                <div class="col-md-6">
                    <div class="coming_soon_image">
                        <img th:src="*{firstImageUrl()}" alt="News image">
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="number_text">01</h1>
                    <h1 class="Coming_soon_title" th:text="#{coming_soon_btn}">Coming soon</h1>
                    <p class="long_text_1" th:text="${#strings.abbreviate(news.description(), 150)}">Text</p>
                    <div class="play_bt">
                        <a th:href="|https://www.youtube.com/embed/*{trailerUrl()}|"
                           th:text="#{trailer_play_btn}">See Trailer</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- coming  section end -->
<footer th:replace="~{fragments/footer}"></footer>
<div class="copyright_section" th:replace="~{fragments/copyrights}"></div>
</body>
</html>