<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}"><title>Movies</title></head>
<body>
<div class="header_section"
     th:replace="~{fragments/navbar::navbar(activeLink=${'/productions/movies'})}">
</div>
<div class="movies_section layout_padding">
    <div class="container">
        <div class="movies_menu" th:replace="~{fragments/overview}"></div>
        <div class="movies_section_2 layout_padding">
            <h2 class="latest_text" th:text="#{movies_latest_text}">Latest Movies</h2>
            <div class="production_main">
                <div class="image_movies_main"
                     th:each="movie : ${allMovieProductions}"
                     th:object="${movie}">
                    <div class="image_movies">
                        <div class="image_3">
                            <img th:src="*{imageUrl}" class="image" alt="Image">
                            <div class="middle">
                                <div class="playnow_bt">
                                    <a th:href="*{videoUrl}" th:text="#{movie_box_play_btn}">Play Now</a>
                                </div>
                            </div>
                        </div>
                        <h1 class="code_text" th:text="*{name}">Production Name</h1>
                        <p class="there_text" th:text="*{genre}">There are many variations</p>
                        <div class="star_icon">
                            <ul>
                                <li><a href="#"><img src="/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="/images/star-icon.png"></a></li>
                            </ul>
                            <div class="card-body">
                                <a class="card-link" th:href="@{/productions/{id}(id=*{id})}" th:text="#{movie_box_details_btn}">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="see-more-button" class="see-more" th:text="#{movie_box_see_more_btn}">See More</button>
    </div>
</div>
<script th:src="@{/js/seeMoreButtonHandler.js}"></script>
<footer th:replace="~{fragments/footer}"></footer>
<div class="copyright_section" th:replace="~{fragments/copyrights}"></div>
</body>
</html>