<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer" class="footer_section layout_padding">
    <div class="container">
        <div class="footer_menu">
            <ul>
                <li><a th:text="#{nav_bar_home}" th:href="@{/}">Home</a></li>
                <li><a th:text="#{nav_bar_movies}" th:href="@{/productions/movies}">Movies</a></li>
                <li><a th:text="#{nav_bar_tv}" th:href="@{/productions/tv}">TV</a></li>
                <li><a th:text="#{nav_bar_celebs}" th:href="@{/celebrities/all}">Celebs</a></li>
                <li><a th:text="#{nav_bar_news}" th:href="@{/news/all}">News</a></li>
            </ul>
        </div>
        <div class="social_icon">
            <ul>
                <li><a th:href="@{https://cdnph.upi.com/svc/sv/upi/9091495735450/2017/1/e5758f02decf53e7476d0e647506bb4b/Mark-Zuckerberg-Judi-Dench-receive-honorary-Harvard-degrees.jpg}">
                    <img src="/images/fb-icon.png" alt="Facebook icon"></a></li>
                <li><a th:href="@{https://ichef.bbci.co.uk/news/800/cpsprodpb/7727/production/_103330503_musk3.jpg.webp}">
                    <img src="/images/twitter-icon.png" alt="X icon"></a></li>
                <li><a th:href="@{https://www.executivegrapevine.com/uploads/articles/Microsoft-buys-LinkedIn.jpg}">
                    <img src="/images/linkedin-icon.png" alt="Linkedin icon"></a></li>
                <li><a th:href="@{https://qph.cf2.quoracdn.net/main-qimg-8b88c765aa9fdce78a3e466f8e894a1c-lq}">
                    <img src="/images/instagram-icon.png" alt="Instagram icon"></a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>