<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <!-- site metas -->
    <meta charset="UTF-8">
    <title>MovieBox</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- style css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Responsive-->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
</html>